.container{
    margin:0;
    width: 100vw;
}
nav{
    display: flex;
    justify-content:space-between;
}
footer{
    display: flex;
    justify-content:space-between;
}
.button{
    display: flex;
    gap: 1rem;
}