<header>
    <nav>
        <div>Logo A la carta</div>
        <div class="button">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </nav>
</header>
<div class="home">Menú</div>
<section>Platos</section>
<section>Platos veganos</section>
<footer>
    <div class="logo">Logo A la carta</div>
    <div>© A la carta 2023</div>
    <div class="button">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-tiktok"></i>
    </div>
</footer>