<p>Platos de {{username}}</p>
<!--<ul>
    @for (dish of dishes; track dish.id) {
    <li (click)="fav2(item.title)">{{item.title}}</li>
    Quiero elegir un elemento de la lista y avisarle al Home que lo elegí
    }

</ul> -->

<!-- <div>
    <li>
        @for (item of miMenu.results; track $index) {
        <h1>{{item.title}}</h1>
        <img [src]="item.image" />
        }
    </li>
</div> -->

<div>

    @for (item of miMenu.results; track $index) {
    <li>
        <button (click)="fav2(item.title)">{{item.title}}</button>
    </li>
    <img [src]="item.image" />
    }

</div>