<!-- <section>
  @if (isLoggedIn) {
  <p>Bienvenido, {{username}}</p>
  <img 
  (click)="greet()"
  alt="photo" 
  scr="https://github.com/ariana-luz.png" />
  } @else {
  <button (click)="greet()">Inicia sesión</button>
  }
</section> -->


<section>
  <form class="login">
    <input type="email" name="Email" [(ngModel)]='loginObj.email' placeholder="Email" required="">
    <input type="password" name="Password" [(ngModel)]="loginObj.password" placeholder="Password" required="">
    <button (click)="onLogin()">Login</button>
  </form>
</section>