<header>
    <nav>
        <div>Logo A la carta</div>
        <!-- <div>
            @if (isLoggedIn) {
            <p>Bienvenido, {{username}}</p>
            <img alt="photo" scr="https://github.com/ariana-luz.png" />
            }
        </div> -->
        <div class="button">
            <i class="fa-solid fa-magnifying-glass" (click)="BuscarPlatos()"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-user" (click)="verPerfil()"></i>
        </div>
    </nav>
</header>
